body {
    /* margin: 0;
    padding: 0; */
    background-image: url('https://images.pexels.com/photos/4040649/pexels-photo-4040649.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-img {
    max-width: 50px; /* Adjust the value as needed */
    height: auto;
}
  
.chat-window {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
}

.chat-header {
    margin-left: 20%;
    text-align: center;
    margin-bottom: 10px;
}

.chat-messages {
    width: 70%;
    /* max-height:500px ;
    min-height: 300px; */
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
}
.chat-logs {
    width: 25%;
    /* max-height: 500px;
    min-height: 300px; */
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    display: inline-block;
}

.message {
  margin-bottom: 10px;
}
.logs {
    margin-bottom: 10px;
}
.sender {
  font-weight: bold;
}
.text {
  margin-left: 20px;
}

.chat-input {
    display: none;
    margin-top: 20px;
}

.textInput {
    width: 100%;
    margin-right: 3px;
}

.form-control.admin {
    border: 3px solid #5f5b5b;
    max-width: 250px;
    padding: 10px;
    background-color: rgb(216, 255, 239);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}